html, body {
  background-color:  #fafafa;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#map{
  height: 500px;
  background-color:black;
}

.frame{
  display: block;
  width: auto;
  height: 850px;
  padding:50px;
  padding-left:20%;
  padding-right:20%;
  background-color:white;
}
.box {
  width:50%;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #afafaf;
  background-color:#FAFAFA;
  border-radius: 15px;
}
.leftsection{  
  height:300px;
  float: left;
  padding: 20px;
  margin-bottom:50px;
}
.rightsection{
  height:400px;
  width: 70%;
  float: right;
  padding: 20px;
  margin-bottom:50px;
}
.fullsection{
  float: center;
  padding: 50px;
  padding-left: 20%;
  padding-right: 20%;
  margin: 20px;

}
.splitsection{
  width:100%;
  background-color:white;
  margin: 20px;
}
.splitleft{
  display:flex;
  position:relative;
  float: left;
  padding: 50px;
  margin: 20px;
  margin-right:0px;
}
.splitright{
  align-content: center;
  display:flex;
  position:relative;
  float: right;
  padding: 40px;
  margin: 20px;
  margin-left:0px;
}
.demo {
  height: 500px !important;
}
#chartContainer2 {
  position: relative;
  float: right;
}
.link{
  stroke: #ccc;
}
.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
